Package: com.iky1e.cardswitcher
Name: CardSwitcher
Depends: mobilesubstrate, preferenceloader (>= 2.0.2), libactivator (>= 1.5), firmware (>= 4.0)
Version: 0.9.9.1
Architecture: iphoneos-arm
Description: iOS 4.x compatible rewrite of ProSwitcher!
Maintainer: Kyle Howells <freerunnering@gmail.com>
Author: Kyle Howells <freerunnering@gmail.com>
Section: Tweaks
dev: iky1e
